<a href="https://colab.research.google.com/github/ewerton-andrade/soulcode-ad/blob/main/aula_03_soul_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introdução ao Python**

Escola: SoulCode Academy

Curso: Analista de Dados e Dashboards

Período: Noturno

Assunto: Python

Professor: Franciane Rodrigues

Aluna: Ewerton Lima de Andrade

## **Operadores Matemáticos**

In [ ]:
# Operador de adição
n1 = 5.887
n2 = 7.15
soma = n1 + n2

In [ ]:
# Modos de apresentação de resultados: adição
print(soma)
print('A soma é: ', soma)
print(f'A soma dos números é: {soma:.2f}')
print(n1 + n2)
n1 + n2

13.036999999999999
A soma é:  13.036999999999999
A soma dos números é: 13.04
13.036999999999999

13.036999999999999

In [ ]:
# Operador de subtração
a1 = 154.587
a2 = 10.548
sub = a1 - a2

In [ ]:
# Modos de apresentação de resultados: subtração
print(sub)
print('A subtração é: ', sub)
print(f'A subtração dos números é: {sub:.2f}')
print(a1 - a2)
a1 - a2

144.039
A subtração é:  144.039
A subtração dos números é: 144.04
144.039

144.039

In [ ]:
# Operador de multiplicação
b1 = 3.57
multi = b1 * 3
print('A multiplicação é: ', round(multi,2))

A multiplicação é:  10.71

In [ ]:
# Respondendo a perguntinha: Sim
print((2 + 2)*(2 + 2))

16

In [ ]:
# Operador de divisão
x1 = 3
x2 = 2
div = x1/x2

# Imprimindo na tela
print(div)
print(f'A divisão dos números é: {div:.2f}')

1.5
A divisão dos números é: 1.50

In [ ]:
# Resto da Divisão
rdiv = 10 % 3
print(rdiv)

1

In [ ]:
# Parte inteira da divisão
idiv = 10 // 3
print(f'A parte inteira da divisão 10 por 3 é : {idiv}')

A parte inteira da divisão 10 por 3 é : 3

In [ ]:
# Operador de potenciação
pot = 3 ** 2 # três ao quadrado
print(pot)

9

In [ ]:
# Outro exemplo
pow(3,2)

9

In [ ]:
# Radiciação
import math

In [ ]:
# Calculando raiz quadrada de 144
math.sqrt(144)

12.0

In [ ]:
# sugestão
d = math.sqrt(144)
d = int(d)
d

12

## **Operadores de Comparação (Booleanos)**

In [ ]:
# (==) verifica se dois valores são iguais (retornar como resposta True ou False)
a = 3
b = 3.0
teste1 = a == b
print(teste1)

True

In [ ]:
# As comparações podem ser feitas com variáveis do tipo String
teste2 = 'fran' == 'Fran'
print(teste2)

False

In [ ]:
# (!=) verifica se dois valores são diferentes (retornar True ou False)
a = 3
b = 3.0
teste3 = a != b
print(teste3)

False

In [ ]:
# (>) verifica se um valor é maior que o outro
teste4 = 3 > 2
print(teste4)

True

In [ ]:
# (>=) verifica se um valor é maior ou igual ao outro
teste5 = 3 >= 3
print(teste5)

True

In [ ]:
# (<) verifica se um valor é menor que o outro
teste6 = 2 < 2
print(teste6)

False

In [ ]:
# (<=) verifica se um valor é menor ou igual ao outro
teste7 = 2 <= 2
print(teste7)

True

## **Operadores de Atribuição**

In [ ]:
# (=) atribuição direta: atribui ao lado esquerdo do sinal um valor a variável
nome = 'fran'
peso = 51
altura = 1.65

In [ ]:
# (+=) atribuição de soma: equivale a x = x + y
# Exemplo: crie uma variável t que receba o numero inteiro 3 e depois
# some 1 para essa variável

t = 3       # crie uma variável t
t = t + 1   # depois some 1 para essa variável:
print('O resultado de t + 1 é: ', t)

O resultado de t + 1 é:  4

In [ ]:
# Outra forma que também resolve problema
t = 3
t = 3 + 1
print(t)

4

In [ ]:
# modo usando operador de atribuição soma
t = 3
t += 1
print(t)

4

In [ ]:
# (-=) atribuição de subtração
# Exemplo: crie uma variável z que receba o numero inteiro 5 e
# depois diminua 2 para essa variável

z = 5
z = z - 2
print(z)

3

In [ ]:
# Outro modo que resolve o problema
z = 5
z = 5 - 2
print(z)

3

In [ ]:
# modo usando operador de atribuição de subtração
z = 5
z -= 2
print(z)

3

In [ ]:
# (*=) atribuição de multiplicação
# Crie uma variável j que receba o numero 5
# e depois multiplique este numero por 2

j = 5
j = j * 2
print(j)

10

In [ ]:
# modo sugerido
j = 5
j = 5 * 2
print(j)

10

In [ ]:
# modo usando operador de atribuição de multiplicação
j = 5
j *= 2
print(j)

10

In [ ]:
# (%=) atribuição de resto da divisão
# Exemplo: crie uma variável b que receba o numero 7 e depois
# receba o resto da divisão dela por 2.

b = 7
b = b % 2
print(b)

1

In [ ]:
# usando modo de atribuição de resto da divisão
b = 7
b %= 2
print(b)

1

## **Operadores Lógicos**

In [ ]:
# (and) retorna verdadeiro somente se TODAS as condições de uma
# comparação forem satisfeitas

teste8 = 3 >= 2 and 3 !=2 and 3 < 4 # V and V and V
print(teste8)

True

In [ ]:
# (&) é o mesmo que 'and'. Retorna retorna verdadeiro somente se
# TODAS as condições de uma comparação forem satisfeitas

teste9 = (3 >= 2) & (3 != 2) & (3 < 4)
print(teste9)

True

In [ ]:
# (or) Retorna verdadeiro se PELO MENOS UM dos elementos das condições
# for verdadeiro

teste10 = 3 >= 2 or 3 == 2 or 3 > 4 # v or f or f
print(teste10)

True

In [ ]:
teste11 = 1 >= 2 or 3 == 2 or 3 > 4 # f or f or f
print(teste11)

False

In [ ]:
# (|) é a mesma coisa que o OR. Retorna verdadeiro se PELO MENOS UM dos elementos
# das condições for verdadeiro

teste12 = (3 >= 2) | (3 == 2) | (3 > 4) # v or f or f
print(teste12)

True

## **Conversão de variáveis**

In [ ]:
# Conversão de int para float
num_int = 10
num_float = float(num_int)

In [ ]:
# Checando a conversão
print(type(num_int))
print(type(num_float))

<class 'int'>
<class 'float'>

In [ ]:
# Checando se transformamos de 10 para 10.0
print(num_float)

10.0

In [ ]:
# Conversão de int para string
num_int = 10
num_str = str(num_int)

In [ ]:
# Checando a conversão
print(type(num_int))
print(type(num_str))

<class 'int'>
<class 'str'>

In [ ]:
# Checando se transformamos de 10 para '10'
print(num_str)

10

In [ ]:
# Conversão de float para int
num_float = 10.5
num_int = int(num_float)

In [ ]:
# Checando a conversão
print(type(num_float))
print(type(num_int))

<class 'float'>
<class 'int'>

In [ ]:
# Checando se transformamos
print(num_int)

10